@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");

:root {
	// Fonts
	--heading-font: "Inter", sans-serif;
	--body-font: "Assistant", sans-serif;

	//Colors
	--heading: #0B090C;
	--body: #0B090C;

	--base: #FAA537;
}
