.banner-section {
	padding: 100px 0 120px;
	background-color: #f9a347;
}
.banner-content {
	text-align: center;
}
.banner-top-title {
    font-style: italic;
}
.banner-bottom-title {
    font-style: italic;
}
.banner-pera {
}
